
$color-primary-blue: #0ea0ff;
$color-primary-purple: #7f70f5;
$color-primary-blue-1: #809dff;
$color-primary-purple-1: #7551f7;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
